@import url('https://fonts.googleapis.com/css?family=Muli:400,700,900&display=swap');
html, body {
	font-family: 'Muli', sans-serif;
}
.body {
	margin: 0;
	width: 100%;
	height: 1200px;
	background-color: #fcfbfb;
}
.line {
width: 100%;
height: 8px;
margin: 0;
background-color: #f2ac04;
border: 1px solid #f2ac04;
}
.header {
margin: 0px;
}
.Zag1 {
	margin-top: 50px;
	margin-left: 116px;
	font-size: 29px;
	color: #3c3c3c;
	position: absolute;
	font-weight: bold;
}
.line1 {
  margin-left: 220px;
  width: 48px;
  transform: rotate(90deg); 
  color: grey;
  display: block;
  float: top;
  padding: 0px;
  position: absolute;
  margin-top: 60px;
}
.containerZag {
	position: absolute;
	display: block;
	float: right;
	margin-left: 268px;
	margin-top: 48px;
}
.Sup {
	font-size: 20px;
	color: #f2ac04;
	display: block;
	margin-right: 600px;
    margin-top: 0px;
    word-spacing: 6px;
}
.PremiT {
    font-size: 16px;
	color: #898989;
	display: block;
}
.buttons {
	display: block;
	position: absolute;
	margin-top: 100px;
}
.menu {
	margin-left: 0px;
}
.menu li {
 	float: left;
 	display: block;
 	margin-right: 87px;
 	font-size: 16px;
	color: #898989;
}
.SupT {
	display: block;
	position: absolute;	
	width: 100%;
	color: #ababab;
	margin-top: 99px;
}
.NizT {
	display: block;
	position: absolute;	
	width: 100%;
	color: #ababab;
	margin-top: 133px;
}
.FEATUREDPRODUCTS {
	position: absolute;
    font-size: 12px;
	color: #9a9b9b;
	margin-top: 202px;
}
.content-box1 {
	height: 300px;
	width: 435px;
	display: block;
	position: absolute;
    margin-top: 231px;
    border: 1px solid #b0b0b0;
}
.grass {
height: 90%;
width: 100%;
display: block;
float: top;
}
.text-box1 {
	text-align: center;
	color: #666666;
	font-size: 16px;
	font-weight: normal;
	word-spacing: 2.5px;
}
.text-box1:hover {
    cursor: pointer;
}
.content-box2 {
	height: 300px;
	width: 435px;
	display: block;
	position: absolute;
    margin-top: 231px;
    border: 1px solid #b0b0b0;
    margin-left: 525px;
}
.India {
	width: 100%;
	height: 66%;
	display: block;
	float: top;
}
.LineIn {
	width: 100%;
	margin-top: 7px;
	color: #000000;
	transform: rotate(90deg);

} 
.text-box2 {
	text-align: center;
	color: #000000;
	font-size: 12px;
	padding: 1px;
	word-spacing: 2.5px;
}
.text-bottom2 {
width: 55px;
height: 15px;
display: block;
background-color: black;
color: white;
padding: 3px 7px;
position: absolute;
padding: 3px 7px;
margin-left: 350px;
margin-top: 30px;
font-size: 15px;
}
.text-bottom2:hover {
	cursor: pointer;
}
.MiddleLine {
	width: 100%;
	color: #cccccc;
	display: block;
	position: absolute;
	margin-top: 550px;
}
.content-section1 {
	height: 335px;
	width: 280px;
	display: block;
    float: left;
    margin-right: 30px;
    margin-top: 600px;
    background-color: white;
    border: 1px solid #d1d1d1;
    padding: 3px 5px;
    position: relative;    
}
.content-section2 {
 	height: 335px;
	width: 280px;
	display: block;
    float: left;
    margin-right: 30px;
    margin-top: 600px;
    border: 1px solid #d1d1d1;
    background-color: white;
    padding: 3px 5px;
    position: relative; 
}
.content-section3 {
	height: 335px;
	width: 280px;
	display: block;
    float: left;
    margin-right: 30px;
    margin-top: 600px;
    background-color: white;	
    border: 1px solid #d1d1d1;
    padding: 3px 5px;
    position: relative; 
}
.c-s1TEXT {
	font-size: 18px;
	font-weight: bold;
	color: #565656;
}
.news {
	margin: 0px;
	padding: 0px;
}
.new {
    word-break: break-all;
}
.new li {
	font-size: 13px;
	color: #787878;
	display: block;
	margin-top: 30px;
	border-bottom: 1px dashed #787878;
	word-spacing: 2.5px;
}
.c-s2TEXT {
	font-size: 18px;
	font-weight: bold;
	color: #565656;
}
.WWA {
	font-size: 13px;
	color: #787878;
	display: block;
	margin-top: 30px;
	word-break: break-all;
	word-spacing: 5px;
}
.button2 {
	width: 55px;
	height: 15px;
	display: block;
	position: absolute;
	background-color: black;
	color: white;
	padding: 3px 7px;
	margin-top: 195px;
    margin-left: 185px;
    font-size: 15px;
}
.button2:hover {
	cursor: pointer;
}
.c-s3TEXT{
	font-size: 18px;
	color: #565656;
}

.group1 li {
	display: block;
	float: left;
	margin-right: 27px;	
}
.icon1 {
width: 21px;
height: 21px;
color: #bcbcbd;
}
 .ph1 {
 font-size: 12px;
 font-weight: bold; 
}

.LINEc-s3-1 { 
 width: 280px;
 color: #999999;
 display: block;
 position: absolute;
 margin-top: 20px;
}

.group2 li {
display: block;
}

.icon2 {
width: 21px;
height: 21px;
display: block;
position: absolute;
margin-top: 40px;
}
.ph2 {
font-size: 12px;
font-weight: bold;
position: absolute;
margin-top: 42px;
margin-left: 48px;
display: block;
}

.LINEc-s3-2 {
	display: block;
	position: absolute;
	width: 280px;
	color: #999999;
	margin-top: 60px;
}
.group3 li {
 display: block;
}
.icon3 {
	width: 21px;
	height: 21px;
	display: block;
	position: absolute;
    margin-top: 80px;	
}
.ph3 {
	font-size: 12px;
	color: #757575;
	display: block;
	position: absolute;
	margin-top: 83px;
    margin-left: 48px;
}
.LINEc-s3-3 {
	display: block;
	position: absolute;
	width: 280px;
	color: #999999;
	margin-top: 100px;
}
.group4 li {
	display: block;
}
.icon4 {
widows: 21px;
height: 21px;
display: block;
position: absolute;
margin-top: 120px;
}
.ph4 {
	font-size: 12px;
	color: #757575;
	display: block;
	position: absolute;
	margin-top: 116px;
	margin-left: 48px;
}
.LINEc-s3-4 {
	display: block;
	position: absolute;
	width: 280px;
	color: #999999;
	margin-top: 140px;
}
.ClLine1 {
	color: #cccccc;
	width: 37px;
	height: 1px;
	display: block;
	position: absolute;
	margin-top: 980px;
}
.Clients {
	font-size: 12px;
	font-weight: bold;
	display: block;
	position: absolute;
	margin-top: 982px;
	margin-left: 39px;
}
.ClLine2 {
	color: #cccccc;
	width: 100%;
	height: 1px;
	display: block;
	position: absolute;
	margin-top: 980px;
	margin-left: 123.5px;
}
.square {
	display: block;
	position: relative;
    width: 50px;
	height: 50px;
	background-color: red;
	margin: 50px auto;
	animation-name: s;
	animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
}
@keyframes s {
0%, 30% {transform: rotate(0deg);

}
70% {background-color: blue;}

80% {background-color: red;}

100% {transform: rotate(360deg);}

}
.LOADING {
	display: block;
	position: relative;
	text-transform: uppercase;
	color: black;
	font-size: 14px;
	font-weight: bold;
	margin-top: 1000px;
}
.containerLoad {
	text-align: center;
}